.pokeball {
    width: 250px;
    height: 250px;
    background: linear-gradient(red 48.5%, black 48.5%, black 52.5%, white 52.5%);
    border: 2px solid #000;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
}

.circle {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 10px solid #000;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}