#mario-bros{
    width:300px; height:300px;
    margin:50px auto;
    position:relative;
  }
  :root{
    --width:16px;
    --height:16px;
    --black:#000;
  }
  .pixel{
    width:var(--width); 
    height:var(--height);
    box-shadow:
      /*Row 1*/
      calc(var(--width) * 5) 0 #FE0000,
      calc(var(--width) * 6) 0 #FE0000,
      calc(var(--width) * 7) 0 #FE0000,
      calc(var(--width) * 8) 0 #FE0000,
      calc(var(--width)*9) 0 #FE0000,
      /*row 2*/
      calc(var(--width) * 4) calc(var(--height)) #FE0000,
      calc(var(--width) * 5) calc(var(--height)) #FE0000,
      calc(var(--width) * 6) calc(var(--height)) #FE0000,
      calc(var(--width) * 7) calc(var(--height)) #FE0000,
      calc(var(--width) * 8) calc(var(--height)) #FE0000,
      calc(var(--width) * 9) calc(var(--height)) #FE0000,
      calc(var(--width) * 10) calc(var(--height)) #FE0000,
      calc(var(--width) * 11) calc(var(--height)) #FE0000,
      calc(var(--width) * 12) calc(var(--height)) #FE0000,
      /*row 3*/
      calc(var(--width) * 4) calc(var(--height) * 2) #944505,
      calc(var(--width) * 5) calc(var(--height) * 2) #944505,
      calc(var(--width) * 6) calc(var(--height) * 2) #944505,
      calc(var(--width) * 7) calc(var(--height) * 2) #F8C87F,
      calc(var(--width) * 8) calc(var(--height) * 2) #F8C87F,
      calc(var(--width) * 9) calc(var(--height) * 2) #000,
      calc(var(--width) * 10) calc(var(--height) * 2) #F8C87F,
      /*row 4*/
      calc(var(--width) * 3) calc(var(--height) * 3) #944505,
      calc(var(--width) * 4) calc(var(--height) * 3) #F8C87F,
      calc(var(--width) * 5) calc(var(--height) * 3) #944505,
      calc(var(--width) * 6) calc(var(--height) * 3) #F8C87F,
      calc(var(--width) * 7) calc(var(--height) * 3) #F8C87F,
      calc(var(--width) * 8) calc(var(--height) * 3) #F8C87F,
      calc(var(--width) * 9) calc(var(--height) * 3) #000,
      calc(var(--width) * 10) calc(var(--height) * 3) #F8C87F,
      calc(var(--width) * 11) calc(var(--height) * 3)  #F8C87F,
      calc(var(--width) * 12) calc(var(--height) * 3) #F8C87F,
      /*row 5*/
      calc(var(--width) * 3) calc(var(--height) * 4) #944505,
      calc(var(--width) * 4) calc(var(--height) * 4) #F8C87F,
      calc(var(--width) * 5) calc(var(--height) * 4) #944505,
      calc(var(--width) * 6) calc(var(--height) * 4) #944505,
      calc(var(--width) * 7) calc(var(--height) * 4) #F8C87F,
      calc(var(--width) * 8) calc(var(--height) * 4) #F8C87F,
      calc(var(--width) * 9) calc(var(--height) * 4) #F8C87F,
      calc(var(--width) * 10) calc(var(--height) * 4) #944505,
      calc(var(--width) * 11) calc(var(--height) * 4) #F8C87F,
      calc(var(--width) * 12) calc(var(--height) * 4) #F8C87F,
      calc(var(--width) * 13) calc(var(--height) * 4) #F8C87F,
      /*row 6*/
      calc(var(--width) * 3) calc(var(--height) * 5) #944505,
      calc(var(--width) * 4) calc(var(--height) * 5) #944505,
      calc(var(--width) * 5) calc(var(--height) * 5) #F8C87F,
      calc(var(--width) * 6) calc(var(--height) * 5) #F8C87F,
      calc(var(--width) * 7) calc(var(--height) * 5) #F8C87F,
      calc(var(--width) * 8) calc(var(--height) * 5) #F8C87F,
      calc(var(--width) * 9) calc(var(--height) * 5) #944505,
      calc(var(--width) * 10) calc(var(--height) * 5) #944505,
      calc(var(--width) * 11) calc(var(--height) * 5) #944505,
      calc(var(--width) * 12) calc(var(--height) * 5) #944505,
      /*row 7*/
      calc(var(--width) * 5) calc(var(--height) * 6) #F8C87F,
      calc(var(--width) * 6) calc(var(--height) * 6) #F8C87F,
      calc(var(--width) * 7) calc(var(--height) * 6) #F8C87F,
      calc(var(--width) * 8) calc(var(--height) * 6) #F8C87F,
      calc(var(--width) * 9) calc(var(--height) * 6) #F8C87F,
      calc(var(--width) * 10) calc(var(--height) * 6) #F8C87F,
      calc(var(--width) * 11) calc(var(--height) * 6) #F8C87F,
      /*row 8*/
      calc(var(--width) * 4) calc(var(--height) * 7) #FD0100,
      calc(var(--width) * 5) calc(var(--height) * 7) #FD0100,
      calc(var(--width) * 6) calc(var(--height) * 7) #006DBC,
      calc(var(--width) * 7) calc(var(--height) * 7) #FD0100,
      calc(var(--width) * 8) calc(var(--height) * 7) #FD0100,
      calc(var(--width) * 9) calc(var(--height) * 7) #FD0100,
    /*row 9*/
      calc(var(--width) * 3) calc(var(--height) * 8) #FD0100,
      calc(var(--width) * 4) calc(var(--height) * 8) #FD0100,
      calc(var(--width) * 5) calc(var(--height) * 8) #FD0100,
      calc(var(--width) * 6) calc(var(--height) * 8) #006DBC,
      calc(var(--width) * 7) calc(var(--height) * 8) #FD0100,
      calc(var(--width) * 8) calc(var(--height) * 8) #FD0100,
      calc(var(--width) * 9) calc(var(--height) * 8) #006DBC,
      calc(var(--width) * 10) calc(var(--height) * 8) #FD0100,
      calc(var(--width) * 11) calc(var(--height) * 8) #FD0100,
      calc(var(--width) * 12) calc(var(--height) * 8) #FD0100,
      /*row 10*/
      calc(var(--width) * 2) calc(var(--height) * 9) #FD0100,
      calc(var(--width) * 3) calc(var(--height) * 9) #FD0100,
      calc(var(--width) * 4) calc(var(--height) * 9) #FD0100,
      calc(var(--width) * 5) calc(var(--height) * 9) #FD0100,
      calc(var(--width) * 6) calc(var(--height) * 9) #006DBC,
      calc(var(--width) * 7) calc(var(--height) * 9) #006DBC,
      calc(var(--width) * 8) calc(var(--height) * 9) #006DBC,
      calc(var(--width) * 9) calc(var(--height) * 9) #006DBC,
      calc(var(--width) * 10) calc(var(--height) * 9) #FD0100,
      calc(var(--width) * 11) calc(var(--height) * 9) #FD0100,
      calc(var(--width) * 12) calc(var(--height) * 9) #FD0100,
      calc(var(--width) * 13) calc(var(--height) * 9) #FD0100,
      /*row 11*/
      calc(var(--width) * 2) calc(var(--height) * 10) #F8C87F,
      calc(var(--width) * 3) calc(var(--height) * 10) #F8C87F,
      calc(var(--width) * 4) calc(var(--height) * 10) #FD0100,
      calc(var(--width) * 5) calc(var(--height) * 10) #006DBC,
      calc(var(--width) * 6) calc(var(--height) * 10) #FEFC02,
      calc(var(--width) * 7) calc(var(--height) * 10) #006DBC,
      calc(var(--width) * 8) calc(var(--height) * 10) #006DBC,
      calc(var(--width) * 9) calc(var(--height) * 10) #FEFC02,
      calc(var(--width) * 10) calc(var(--height) * 10) #FD0100,
      calc(var(--width) * 11) calc(var(--height) * 10) #FD0100,
      calc(var(--width) * 12) calc(var(--height) * 10) #F8C87F,
      calc(var(--width) * 13) calc(var(--height) * 10) #F8C87F,
      /*row 12*/
      calc(var(--width) * 2) calc(var(--height) * 11) #F8C87F,
      calc(var(--width) * 3) calc(var(--height) * 11) #F8C87F,
      calc(var(--width) * 4) calc(var(--height) * 11) #F8C87F,
      calc(var(--width) * 5) calc(var(--height) * 11) #006DBC,
      calc(var(--width) * 6) calc(var(--height) * 11) #006DBC,
      calc(var(--width) * 7) calc(var(--height) * 11) #006DBC,
      calc(var(--width) * 8) calc(var(--height) * 11) #006DBC,
      calc(var(--width) * 9) calc(var(--height) * 11) #006DBC,
      calc(var(--width) * 10) calc(var(--height) * 11) #006DBC,
      calc(var(--width) * 11) calc(var(--height) * 11) #F8C87F,
      calc(var(--width) * 12) calc(var(--height) * 11) #F8C87F,
      calc(var(--width) * 13) calc(var(--height) * 11) #F8C87F,
      /*row 13*/
      calc(var(--width) * 2) calc(var(--height) * 12) #F8C87F,
      calc(var(--width) * 3) calc(var(--height) * 12) #F8C87F,
      calc(var(--width) * 4) calc(var(--height) * 12) #006DBC,
      calc(var(--width) * 5) calc(var(--height) * 12) #006DBC,
      calc(var(--width) * 6) calc(var(--height) * 12) #006DBC,
      calc(var(--width) * 7) calc(var(--height) * 12) #006DBC,
      calc(var(--width) * 8) calc(var(--height) * 12) #006DBC,
      calc(var(--width) * 9) calc(var(--height) * 12) #006DBC,
      calc(var(--width) * 10) calc(var(--height) * 12) #006DBC,
      calc(var(--width) * 11) calc(var(--height) * 12) #006DBC,
      calc(var(--width) * 12) calc(var(--height) * 12) #F8C87F,
      calc(var(--width) * 13) calc(var(--height) * 12) #F8C87F,
      /*row 14*/
      calc(var(--width) * 4) calc(var(--height) * 13) #006DBC,
      calc(var(--width) * 5) calc(var(--height) * 13) #006DBC,
      calc(var(--width) * 6) calc(var(--height) * 13)#006DBC,
      calc(var(--width) * 9) calc(var(--height) * 13) #006DBC,
      calc(var(--width) * 10) calc(var(--height) * 13) #006DBC,
      calc(var(--width) * 11) calc(var(--height) * 13) #006DBC,
      /*row 15*/
      calc(var(--width) * 3) calc(var(--height) * 14) #944603,
      calc(var(--width) * 4) calc(var(--height) * 14) #944603,
      calc(var(--width) * 5) calc(var(--height) * 14) #944603,
      calc(var(--width) * 10) calc(var(--height) * 14) #944603,
      calc(var(--width) * 11) calc(var(--height) * 14) #944603,
      calc(var(--width) * 12) calc(var(--height) * 14) #944603,
    /*row 16*/
      calc(var(--width) * 2) calc(var(--height) * 15) #944603,
      calc(var(--width) * 3) calc(var(--height) * 15) #944603,
      calc(var(--width) * 4) calc(var(--height) * 15) #944603,
      calc(var(--width) * 5) calc(var(--height) * 15) #944603,
      calc(var(--width) * 11) calc(var(--height) * 15) #944603,
      calc(var(--width) * 12) calc(var(--height) * 15) #944603,
      calc(var(--width) * 13) calc(var(--height) * 15) #944603,
      calc(var(--width) * 14) calc(var(--height) * 15) #944603;
  }