#mario-bros{
    width:150px;
    height:160px;
    position:absolute;
    bottom:75px;
    left:50px;
    margin: 30px auto;
  }
  
  
  .pixel{
    width:10px;
    height:10px;
    box-shadow:
      /*Row 1*/
      50px 0 #FE0000,
      60px 0 #FE0000,
      70px 0 #FE0000,
      80px 0 #FE0000,
      90px 0 #FE0000,
      /*row 2*/
      40px 10px #FE0000,
      50px 10px #FE0000,
      60px 10px #FE0000,
      70px 10px #FE0000,
      80px 10px #FE0000,
      90px 10px #FE0000,
      100px 10px #FE0000,
      110px 10px #FE0000,
      120px 10px #FE0000,
      /*row 3*/
      40px 20px #944505,
      50px 20px #944505,
      60px 20px #944505,
      70px 20px #F8C87F,
      80px 20px #F8C87F,
      90px 20px #000,
      100px 20px #F8C87F,
      /*row 4*/
      30px 30px #944505,
      40px 30px #F8C87F,
      50px 30px #944505,
      60px 30px #F8C87F,
      70px 30px #F8C87F,
      80px 30px #F8C87F,
      90px 30px #000,
      100px 30px #F8C87F,
      110px 30px #F8C87F,
      120px 30px #F8C87F,
      /*row 5*/
      30px 40px #944505,
      40px 40px #F8C87F,
      50px 40px #944505,
      60px 40px #944505,
      70px 40px #F8C87F,
      80px 40px #F8C87F,
      90px 40px #F8C87F,
      100px 40px #944505,
      110px 40px #F8C87F,
      120px 40px #F8C87F,
      130px 40px #F8C87F,
      /*row 6*/
      30px 50px #944505,
      40px 50px #944505,
      50px 50px #F8C87F,
      60px 50px #F8C87F,
      70px 50px #F8C87F,
      80px 50px #F8C87F,
      90px 50px #944505,
      100px 50px #944505,
      110px 50px #944505,
      120px 50px #944505,
      /*row 7*/
      50px 60px #F8C87F,
      60px 60px #F8C87F,
      70px 60px #F8C87F,
      80px 60px #F8C87F,
      90px 60px #F8C87F,
      100px 60px #F8C87F,
      110px 60px #F8C87F,
      /*row 8*/
      40px 70px #FD0100,
      50px 70px #FD0100,
      60px 70px #006DBC,
      70px 70px #FD0100,
      80px 70px #FD0100,
      90px 70px #FD0100,
    /*row 9*/
      30px 80px #FD0100,
      40px 80px #FD0100,
      50px 80px #FD0100,
      60px 80px #006DBC,
      70px 80px #FD0100,
      80px 80px #FD0100,
      90px 80px #006DBC,
      100px 80px #FD0100,
      110px 80px #FD0100,
      120px 80px #FD0100,
      /*row 10*/
      20px 90px #FD0100,
      30px 90px #FD0100,
      40px 90px #FD0100,
      50px 90px #FD0100,
      60px 90px #006DBC,
      70px 90px #006DBC,
      80px 90px #006DBC,
      90px 90px #006DBC,
      100px 90px #FD0100,
      110px 90px #FD0100,
      120px 90px #FD0100,
      130px 90px #FD0100,
      /*row 11*/
      20px 100px #F8C87F,
      30px 100px #F8C87F,
      40px 100px #FD0100,
      50px 100px #006DBC,
      60px 100px #FEFC02,
      70px 100px #006DBC,
      80px 100px #006DBC,
      90px 100px #FEFC02,
      100px 100px #FD0100,
      110px 100px #FD0100,
      120px 100px #F8C87F,
      130px 100px #F8C87F,
      /*row 12*/
      20px 110px #F8C87F,
      30px 110px #F8C87F,
      40px 110px #F8C87F,
      50px 110px #006DBC,
      60px 110px #006DBC,
      70px 110px #006DBC,
      80px 110px #006DBC,
      90px 110px #006DBC,
      100px 110px #006DBC,
      110px 110px #F8C87F,
      120px 110px #F8C87F,
      130px 110px #F8C87F,
      /*row 13*/
      20px 120px #F8C87F,
      30px 120px #F8C87F,
      40px 120px #006DBC,
      50px 120px #006DBC,
      60px 120px #006DBC,
      70px 120px #006DBC,
      80px 120px #006DBC,
      90px 120px #006DBC,
      100px 120px #006DBC,
      110px 120px #006DBC,
      120px 120px #F8C87F,
      130px 120px #F8C87F,
      /*row 14*/
      40px 130px #006DBC,
      50px 130px #006DBC,
      60px 130px #006DBC,
      90px 130px #006DBC,
      100px 130px #006DBC,
      110px 130px #006DBC,
      /*row 15*/
      30px 140px #944603,
      40px 140px #944603,
      50px 140px #944603,
      100px 140px #944603,
      110px 140px #944603,
      120px 140px #944603,
    /*row 16*/
      20px 150px #944603,
      30px 150px #944603,
      40px 150px #944603,
      50px 150px #944603,
      110px 150px #944603,
      120px 150px #944603,
      130px 150px #944603,
      140px 150px #944603;
  }