svg{
    background:#fff;
  }
  svg text{
    font-size:6rem;
    stroke-width:3px;
    fill:transparent;
    stroke:rgb(161, 51, 147);
    letter-spacing:2px;
    animation: effect 6s infinite alternate;
  }

  @keyframes effect {
    0%{
      stroke-dasharray: 0 70%;
    }
    100%{
      stroke-dasharray: 50% 0;
      stroke-dashoffset: 10%;
    }
  }